.App {
  text-align: center;
}

#root {
  display: flex;
  height: 100vh;
}

#left_pane {
  display: flex;
  width: 420px;
  flex-direction: column;
  background-color: rgb(236, 236, 236);
}

#right_pane {
  overflow: hidden;
  display: flex;
  padding: 10px;
  width: 900px;
  flex-direction: column;
  flex-basis: 100%;
}

.sensor_feature_selectors {
  display: flex;
}

#vis {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
}

#sensor_selector_div {
  display: flex;
}

#overview_time_window_slider {
  padding: 10px;
}