#app_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.chartpanel_container {
  width: 500px;
  margin: 15px;
  display: flex;
  flex-direction: column;
}

.chart_prop_tab {
  margin: 5px;
  display: gird;
  grid-template-columns: 1fr 1fr 1fr;
}

.chart_prop_item {
  width: 150px;
  margin-right: 16px;
}

.select {
  width: 160px;

}

.number_input {
  width: 100px;
}

.chart_canvas {
  grid-row-start: 2;
}